/*Icon Bar HTML taken from w3schools*/
@font-face {
  font-family: bigBad;
  src: url(Basic-Commercial-LT-Com-Black.ttf);
}
body {
  background-image: url('ladylight.jpg');
  background-position: 24% 7%; 
  background-attachment: fixed;
}
@media (max-width: 1200px) {
  body {
    background-size: cover;
  }
}
nav {
  background-color: #31394d;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #7f0000;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}
.mail {
  background: #7f0000;
  color: white;
}

#greeting {
  margin-top: 250px;
}
.title {
  font-family: bigBad, Arial, Helvetica, sans-serif;
}

#dont {
  font-size: 66px;
  letter-spacing: -2px;
}
#america {
  position: relative;
  bottom: 16px;
  font-size: 100px;
  letter-spacing: 6px;

}

#empower {
  position: relative;
  bottom: 40px;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-style: italic;
}
#about-top {
  margin-top: 220px;
}
#about-title {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 60px;
}
#about-mid {
  margin-top: 30px;
}
.about-words {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-right: 70px;
}
#learn-btn {
  background-color: rgba(0,0,0,0);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 30px;
  padding: 10px 15px;
  margin-right: 70px;
  color: #000;
  border-width: 4px;
  border-color: black;
  border-radius: 10px;
}
#learn-btn:hover {
  animation-name: button-background;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes button-background {
  100% {
      background-color: #7f0000;
      border-color: #7f0000;
      color: white;
  }
}
#contact-top {
  margin-top: 100px;
}
#form-div {
  position: relative;
  left: 40px;
}
.form-label {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#arrow-up {
  margin-top: 80px;
  margin-bottom: 20px;
  color: black;
}
#bottom-arrow {
  color: black;
}
#bottom-arrow:hover {
  animation-name: arrow-background;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes arrow-background {
  100% {
    color: #7f0000;  }
}

