<!-- Navbar taken from @Seke on CodePen-->
<nav id="nav" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="index.html"><i class="fas fa-flag-usa"></i>
    Don't Bankrupt America</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link hvr-underline-from-center" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" href="mission.html">Mission</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" href="supporters.html">Supporters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" href="helpus.html">How You Can Help</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Navbar End-->