<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        
        <script src="https://kit.fontawesome.com/d2d7b9c4dd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

        <title>{{ page.title }}</title>
    </head>
    <body>
    <!-- Navbar taken from @Seke on CodePen-->
        <nav id="nav" class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="index.html"><i class="fas fa-flag-usa"></i>
            Don't Bankrupt America</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link hvr-underline-from-center" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-underline-from-center" href="#">Mission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-underline-from-center" href="#">Supporters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-underline-from-center" href="#">How You Can Help</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Navbar End-->
        <!-- Icon Bar HTML taken from w3schools-->
        <div class="icon-bar">
            <a target=_blank href="https://www.facebook.com/DontBankruptAmericaCoalition" class="facebook"><i class="fa fa-facebook"></i></a>
            <a target=_blank href="https://twitter.com/dontbankruptusa" class="twitter"><i class="fa fa-twitter"></i></a>
            <a target=_blank href="mailto:dbausa.balancedbudget@gmail.com" class="mail"><i class="fas fa-envelope"></i></a>
        </div>
        <!-- Icon Bar End-->
        
        <main>
            {{ content }}
        </main>

        <div id="arrow-up" class="row">
            <div class="col-md-12 d-flex justify-content-center">
            <a id="bottom-arrow" href="#nav"><i class="fas fa-arrow-circle-up fa-3x"></i></a>
            </div>
        </div>
        <!-- Footer Start-->
        <div id="footer" class="row d-flex justify-content-center align-items-center">
            <footer>
                <p>Copyright © 2020 Don't Bankrupt America</p>
            </footer>
        </div>
        <!-- Footer End -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>